* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanuman:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

/* .hero-section {
  height: 100vh;
} */
/* ==================================== */
/* Эндээс эхний хэсэг эхлэж байна. */
/* ======================================== */
.hero-section-image {
  background-image: url("./images/heroImage.png");
  width: 1440px;
  height: 773px;
  background-size: cover;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.header {
  /* border: 1px solid black; */
  padding: 40px 0;
  width: 1064px;
  margin: 0 auto;
}
.menu-items {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 18px;
  gap: 24px;
}
.lang {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.hero-text1 {
  display: flex;
  color: rgba(232, 237, 242, 0.72);
  width: 618px;
  font-size: 80px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 10px;
  font-family: "Bebas Neue", sans-serif;
  justify-items: center;
}
.hero-text2 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  width: 618px;
  height: 250px;
  font-size: 250px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.hero-text3 {
  display: flex;
  color: rgba(232, 237, 242, 0.72);
  width: 618px;
  font-size: 80px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Bebas Neue", sans-serif;
  justify-items: center;
}
/* <!-- ============================================== -->
    Эндээс хоёрдахь хэсэг эхлэж байна. 
<!-- ==============================================  --> */
.flex1 {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.location-section-background {
  background-image: url("./images/location.png");
  background-size: cover;
  height: 500px;
  width: 1440px;
  margin: 0 auto;
}

.location-section-zuragnuud {
  position: relative;
  width: 270px;
  height: 370px;
  border-radius: 25px;
  margin: 0 15px;
}
.location-section-text-terhiin-tsagaan-nuur {
  background-image: url("./images/terhiin-tsagaan-nuur.png");
  background-position: center;
  background-size: cover;
  box-shadow: -8px -8px #29728b40, 8px 8px #1f72aa75;
  border-radius: 25px;
  height: 100%;
  width: 100%;
}

.location-section-text-amarbaysgalant-hiid {
  background-image: url("./images/amarbaysgalant-hiid.png");
  background-position: center;
  background-size: cover;
  box-shadow: -8px -8px #29728b40, 8px 8px #1f72aa75;
  border-radius: 25px;
  height: 100%;
  width: 100%;
}

.location-section-text-khuwusgul-dalai {
  background-image: url("./images/khuwsgul-dalai.png");
  background-position: center;
  background-size: cover;
  box-shadow: -8px -8px #29728b40, 8px 8px #1f72aa75;
  border-radius: 25px;
  height: 100%;
  width: 100%;
}
.location-section-text-khorgiin-togoo {
  background-image: url("./images/khorgiin-togoo.png");
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  box-shadow: -8px -8px #29728b40, 8px 8px #1f72aa75;
  background-color: red;
}
.location-section-text {
  position: absolute;
  color: white;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    color: #fdfdfecc;
    font-size: 27px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .overlay:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
}
.amarbaysgalant-monastery {
  width: 513px;
  height: 112px;
  background-color: rgba(139, 184, 193, 0.8);
  border-radius: 120px;
  padding: 30px;
}
.khorgiin-togoo {
  width: 513px;
  height: 112px;
  background-color: rgba(170, 216, 215, 0.8);

  border-radius: 120px;
  padding: 30px;
}
/* ========================================= */
/* Эндээс гуравдахь хэсэг эхлэж байна. */
/* ========================================== */
.roadmap-backround {
  background-image: url("./images/roadmap.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: 1022px;
  margin: 0 auto;
  position: relative;
}
.destination-of-our-agency {
  font-family: "Inter", sans-serif;
  font-size: 42px;
}
.pack-your-bags-and-get-ready {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: #18181bb2;
}
.roadmap-frame {
  flex-direction: column;
  gap: 28px;
}

.container {
  display: flex;
  width: 1200px;
  height: 640px;
  gap: 40px;
}

.location-button1 {
  /* height: fit-content; */
  background-color: #eee9d9;
  border-radius: 120px;
  padding-inline: 30px;
  /* ================================ */
  /* bagshaas asuuh */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 112px;
  border: 4px solid transparent;
  margin-top: 100px;
}

.location-buttom2 {
  height: 112px;
  background-color: #8bb8c1cc;
  border-radius: 120px;
  padding-inline: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 4px solid transparent;
}
.location-buttom3 {
  height: 112px;
  background-color: #aad8d7cc;
  border-radius: 120px;
  display: flex;
  align-items: center;
  padding-inline: 30px;
  justify-content: space-between;
  border: 4px solid transparent;
}
.location-buttom4 {
  background-color: #8bc0bdcc;
  height: 112px;
  border-radius: 120px;
  padding-inline: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 4px solid transparent;
}
.location-buttom5 {
  height: 112px;
  background-color: #97cce0cc;
  border-radius: 120px;
  padding-inline: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 4px solid transparent;
}
.day {
  background-color: white;
  height: 52px;
  width: 52px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.icon-amarbaysgalant-monastery {
  height: 245px;
  width: 245px;
  display: none;
  position: absolute;
  left: 700px;
  top: 100px;
}
.icon-khorgiin-togoo {
  height: 245px;
  width: 245px;
  display: none;
  position: absolute;
  left: 800px;
  top: 350px;
}
.icon-terkhiin-tsagaan-nuur {
  height: 245px;
  width: 245px;
  display: none;
  position: absolute;
  left: 800px;
  top: 350px;
}
.icon-khuwsgul-dalai {
  height: 245px;
  width: 245px;
  display: none;
  position: absolute;
  left: 700px;
  top: 100px;
}
.icon-img {
  margin-left: 10px;
}
.gap-2 {
  gap: 2px;
}
.icon-sukhbaatar {
  width: 246px;
  height: 246px;
  display: none;
  position: absolute;
  right: 150px;
  top: 300px;
}

.location-button1:hover + .icon-sukhbaatar {
  display: block;
}
.location-button1:hover {
  border: 4px solid white;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.location-buttom2:hover + .icon-amarbaysgalant-monastery {
  display: block;
}
.location-buttom2:hover {
  border: 4px solid white;
}

.location-buttom3:hover + .icon-khorgiin-togoo {
  display: block;
}
.location-buttom3:hover {
  border: 4px solid white;
}
.location-buttom4:hover + .icon-terkhiin-tsagaan-nuur {
  display: block;
}
.location-buttom4:hover {
  border: 4px solid white;
}
.location-buttom5:hover + .icon-khuwsgul-dalai {
  display: block;
}
.location-buttom5:hover {
  border: 4px solid white;
}
/* ========================================= */
/* Эндээс сүүлийн хэсэн эхлэж байна. */
/* =============================================== */
.Pricing-of-Our-Agency {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  padding-top: 30px;
}
.choose {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #18181bb2;
  padding-top: 10px;
}
.price-button1 {
  width: 384px;
  height: 527px;
  background-color: #fafbfc;
  background-position: center;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.price-button2 {
  width: 384px;
  height: 527px;
  background-color: #fafbfc;
  background-position: center;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.price-button3 {
  width: 384px;
  height: 527px;
  background-color: #fafbfc;
  background-position: center;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.hover:hover {
  box-shadow: -8px -8px #29728b40, 8px 8px #1f72aa75;
}
.hover:hover .select-package {
  background-color: black;
  color: white;
}

.img-hover:hover {
  border-radius: 100%;
  background-color: rgb(114, 114, 114);
}
.price-h3 {
  width: 336px;
  /* height: 29px; */
  font-size: 40px;
}
.price-p {
  width: 200px;
  /* height: 19px; */
  color: rgba(145, 145, 145, 1);
  font-size: 16px;
  /* display: flex; */
}
.inc {
  margin-left: 10px;
  margin-bottom: 10px;
}
.price-gap {
  gap: 14px;
}
.check-icon {
  height: 20px;
  width: 20px;
  gap: 20px;
}
.p-padding {
  padding-bottom: 15px;
}
.select-package {
  height: 48px;
  width: 336px;
  background-color: rgba(164, 209, 226, 1);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.standard-package {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 18px;
}
.standard-package-gap {
  margin-bottom: 35px;
  /* gap: 20px; */
}
.popular {
  background-color: rgba(105, 114, 181, 1);
  border-radius: 15px;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
}
.pin-ub {
  height: 34px;
  width: 34px;
  position: absolute;
  left: 974px;
  top: 421px;
}
.roadmap-text {
  font-size: 24px;
  color: black;
}
.facebook {
  font-family: "Montserrat";
  font-size: 18px;
  color: #6972b5;
}
.button {
  width: 167px;
  height: 44px;
  border-radius: 25px;
  background-color: #fafbfc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.flex-button {
  display: flex;
  gap: 20px;
}
.button-pad {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin-top: 210px;
}
.row {
  display: flex;
  justify-content: center;
}

.price-section {
  margin-top: 150px;
  gap: 32px;
  margin-left: 120px;
  margin-right: 120px;
  justify-content: space-between;
}
.price-section-background {
  background-image: url("./images/foother.png");
  background-position: center;
  background-size: cover;
  height: 1120px;
  width: 1440px;
  margin: 0 auto;
}
